@buttonFontSize: 14px;
@svgIconSize: 22px;


.SvgIcon {
    vertical-align: middle;
}

.bp3-button {
    svg {  // Icons from react-icons, e.g. FaChevronLeft
        &:not(:last-child) {
            margin-right: 10px;
            vertical-align: middle;
            margin-bottom: 1px;
        }
    }
    .SvgIcon { // SvgIcons. E.g. restore from trash button
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
    .SvgIcon {
        font-size: @svgIconSize;
        margin: (-(@svgIconSize - @buttonFontSize) / 2 - 1px) -2px;
    }
}
