@import "../../style/variables.less";

.Picture {
    position: absolute;
    display: block;
    overflow: hidden;
    background-color: @blue-grey-400;  // Loading background
    user-select: none;
}

.Picture-thumbnail {
    width: 100%;
    height: 100%;
    pointer-events: none;  // Disable image dragging
    opacity: 1;
    transition: opacity 0.2s ease-in;

    .Picture.isLoading & {
        opacity: 0;
    }
}

.Picture-spinner,
.Picture-error {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
.Picture-error {
    text-align: center;

    svg {
        margin-bottom: 15px;
    }

    &.isSmall {
        font-size: 12px;

        svg {
            margin-bottom: 5px;
        }
    }
}

.Picture-favorite {
    position: absolute;
    left: 2px;
    bottom: 2px;
    padding: 5px;
    line-height: 0;

    font-size: 18px;
    color: white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .08);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.Picture-activeBorder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 4px solid @deep-orange-500;
}
