/.awcache/
/dist/
/dist-package/
/dist-test/
/dot-picturama*/
/node_modules/
/src-tauri/libs/
# Written by `npm run licenses` - a build artifact, see DEVELOP.md "Licenses"
/licenses.json.gz
/*.patch
picturama.yml

npm-debug.log
.DS_Store
