
@sideBarWidth: 230px;
@padding: 10px;

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.UiTester {
    position: relative;
    height: 100%;
    background-color: white;
}

.UiTester-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: @sideBarWidth;
    overflow-y: auto;

    padding: @padding;
}

.UiTester-arena {
    position: absolute;
    top: 0;
    bottom: 0;
    left: @sideBarWidth;
    right: 0;
    padding: @padding;
}

.UiTester-localeSwitch {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

    .bp3-button {
        flex: 1 1 100%;
        min-width: 0;    // Default is: 30px
        padding: 5px 0;  // Default is: 5px 10px
    }
}

.UiTester-sectionTitle {
    margin: 20px 0 10px 0;
    font-weight: bold;
}

.UiTester-sectionButtons {
    width: 100%;
}
