@import "../style/variables.less";

@contentWidth: 800px;

.SettingsPane {
    display: flex;
    flex-direction: column;
    background-color: @blue-grey-100;
    overflow: hidden;
}
.SettingsPane-topBar,
.SettingsPane-footer {
    flex: 0 0 auto;
}
.SettingsPane-body {
    flex: 1 1 100%;
    top: @toolbarHeight;
    overflow: auto;
}
.SettingsPane-footer {
    max-width: @contentWidth;
    text-align: center;
}

.SettingsPane-content {
    max-width: @contentWidth;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
}

.SettingsPane-addPhotoDir {
    margin: 10px 0;
}

.SettingsPane-scan {
    margin: 25px 0;
}

.SettingsPane-about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.SettingsPane-appVersion {
    opacity: 0.7;
}
